<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .nav1 {
            background-color: #000;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 2px;
            font-weight: bold;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            padding: 10px;
            text-align: center;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(74, 190, 113, 0.5);
            margin: 20;
        }
    </style>
</head>

<body>
    <div class="nav1">
        <h5>&copy; Copyright 2024 by Interest<sub>mint.</sub></h5>
        <h6>Designed by <a href='https://r-venkat-kalyan.github.io/' target='_blank'>Reddy Venkat Kalyan.</a></h6>
    </div>
</body>

</html>